extends layout

block content
  .container
    h1 Congratulations #{user.username}
    p You have successfully logged in! Click the button below to proceed to the website.
    <button type="button" onclick="">Continue</button>

